.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    
footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

   p {
   	letter-spacing: 2px;
    font-size: 15px;
    margin-top: 5px;

   }
h6{
  margin-left: 50px;
}

#content{
	margin-top: 20px;
  overflow-y:scroll;
  height: 100vh;

}

#commentBelow{
  margin-left: 50px; 
  overflow-y: scroll;
  height: 250px;
}
h1#name{
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
}

h1#commentName{
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
}


#buttonLink{

  font-style:italic;


}

#post{
  margin-top: 30px;
  display: none;
}
